<nav>
    <div class="nav-wrapper">
        {{#link-to 'index' tagName="a" class="brand-logo"}}
            <i class="material-icons">filter_6</i>
            Dice Roller
        {{/link-to}}
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#link-to 'roll' tagName="li"}}
                <a href="roll">Roll Dice</a>
            {{/link-to}}
        </ul>
    </div>
</nav>

<div class="container">
    {{outlet}}
</div>
